body {
    margin: 0;
}

#navbar {
    padding: 30px 0px;
    background-color: rgb(1,113,249);
    border-radius: 0px 0px 50px 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
}

#navbar > img {
    width: 10%;
}

#nav-links {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

#nav-links > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.2s linear 0.2s;
}

#nav-links > span > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgba(169, 198, 252, 0.208);
    padding: 5px 15px;
    border-radius: 20px;
}

/* TRANSITION */
#nav-links > a:hover {
    background-color: rgba(169, 198, 252, 0.208);
    padding: 5px 15px;
    border-radius: 20px;
}

#navbar > a {
    text-decoration: none;
    color: white;
}

#nav-links > p > a {
    text-decoration: none;
    color: white;
    background-color: rgb(254, 94, 94);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
}

/* HOME-PAGE */
#home {
    background-color: rgb(1,113,249);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120vh;
    border-radius: 0px 0px 15% 15%;
}

#home-content {
    width: 50%;
}

#home-content > h3 {
    color: white;
}

#home-content > h1 {
    color: white;
    font-size: 3rem;
}

#home-content > p {
    color: white;
    font-size: 1.1rem;
}

/* input-submit */
#subbtn {
    display: flex;
    align-items: center;
}

#subbtn > input {
    padding: 20px;
    width: 55%;
    background-color: white;
    border-radius: 5px;
    color: black;
    border: none;
    outline: none;
}

#subbtn > span > a {
    text-decoration: none;
    color: white;
    background-color: rgb(250, 56, 56);
    padding: 20px;
    position: relative;
    right: 30%;
    border-radius: 30px;
}

#home-img {
    width: 30%;
    position: relative;
}

#home-img > img {
    border-radius: 25px;
}

#home-img > p {
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(1,113,249);
    padding: 2px 5px;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 70%;
}

#home-img > span {
    color: white;
    font-size: 2.5rem;
    background-color: rgb(250, 69, 69);
    padding: 30px 10px;
    border-radius: 100%;
    position: relative;
    top: -20px;
    right: 30px;
}

/* CARDS */
#cards {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    position: relative;
    top: -70px;
}

a > .card {
    display: flex;
    flex-direction: column;
    padding: 20px 80px 10px 80px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    line-height: 0;
}

.card > img {
    background-color: rgb(1,113,249);
    padding: 15px 15px;
    border-radius: 50%;
    margin: auto;
    transition: 0.2s linear 0.1s;
}

/* TRANSITION */
a > .card:hover > img {
    background-color: rgb(251, 80, 80);
}

#cards > a {
    text-decoration: none;
    color: black;
}

.card > h6 {
    font-size: 1rem;
}


/* TRENDING */
#trending-games {
    height: 100vh;
    width: 100%;
}

#trending {
    width: 100%;
    line-height: 1px;
}

#trending > h4 {
    color: red;
    padding: 0px 10%;
}

#t-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

#t-nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: rgb(255, 69, 69);
    padding: 20px 30px;
    border-radius: 20px;
    transition: 0.5s linear 0.1s;
}

#t-nav > a:hover {
    background-color: rgb(1,113,249);
}

#t-nav > h2 {
    font-size: 2.5rem;
}

/* TRENDING CARDS */
#trending-cards {
    display: flex;
    justify-content: center;
    width: 100%;
    column-gap: 40px;
    margin-top: 3rem;
}

.trend-cards {
    width: 20%;
    background-color: rgba(206, 208, 209, 0.699);
    border-radius: 10%;
    position: relative;
    line-height: 0px;
}

.trend-cards > a > img {
    width: 100%;
    border-radius: 10%;
}

.trend-cards > a {
    text-decoration: none;
    color: black;
}

.price1 {
    background-color: rgb(1,113,249);
    color: white;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    border-radius: 10px;
    position: absolute;
    left: 60%;
    top: 10%;
}

.bag {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40%;
}

.trend-cards > a > p {
    position: relative;
    left: 10%;
}

.bag > h6 {
    font-size: 1rem;
}

.bag > img {
    width: 5%;
    height: 20%;
    background-color: rgba(251, 71, 71, 0.873);
    padding: 10px;
    border-radius: 50%;
}

/* TRENDING GAMES TRANSITION */
a:hover h6 {
    color: rgb(1,113,249);
    background-color: rgb(1,113,249);
}

a:hover .bag>img {
    background-color: rgb(1,113,249);
}


/* TOP GAMES - PAGE */
#topgames {
    width: 100%;
    height: 110vh;
    background-color: rgba(128, 128, 128, 0.156);
    border-radius: 15%;
}

#topgames > h3 {
    color: rgb(210, 21, 21);
    text-align: left;
    padding: 10% 0px 0px 8%;
}

#mostplayed {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 45%;
}

#mostplayed > h1 {
    font-size: 2.9rem;
}

#mostplayed > a {
    text-decoration: none;
    color: white;
    background-color: rgb(251, 60, 60);
    padding: 15px 20px;
    border-radius: 30px;
    transition: 0.5s linear 0.1s;
}

#mostplayed > a:hover {
    background-color: rgb(1,113,249);
}

#cards6 {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.mostplayed-cards {
    background-color: white;
    border-radius: 20px;
    line-height: 15px;
}

.mostplayed-cards > a {
    text-decoration: none;
    color: black;
}

.mostplayed-cards > a > img {
    border-radius: 20px;
}

.mostplayed-cards > a > p {
    text-align: center;
}

.mostplayed-cards > a > h3 {
    text-align: center;
}

.mostplayed-cards > a > button {
    border: none;
    background-color: rgb(254, 66, 66);
    padding: 10px 15px;
    border-radius: 20px;
    position: relative;
    left: 50px;
    top: 15px;
}

.mostplayed-cards > a:hover h3 {
    color: rgb(1,113,249);
}

.mostplayed-cards > a:hover button {
    background-color: rgb(1,113,249);
    color: white;
}


/* CATEGORIES */
#categories-page {
    width: 100%;
    height: 80vh;
}

#categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 10px;
    margin-top: 10%;
}

#categories > p {
    color: rgb(248, 53, 53);
    font-weight: bold;
}

#categories > h1 {
    font-size: 3rem;
}

#categories-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 40px;
    margin-top: 5rem;
}

.Action-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(1,113,249);
    border-radius: 20px;
    color: white;
}

.Action-cards > a > img {
    border-radius: 20px;
    position: relative;
    top: 5px;
}


/* POSITION - CONTAINERS */
#position {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#pubg {
    width: 400%;
    z-index: -1;
}

#pubg > img {
    width: 100%;
    border-radius: 20px;
}

#div1 {
    z-index: 0;
    width: 200%;
    background-color: rgb(238, 233, 233);
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.389);
    position: relative;
    left: 70px;
    top: 20px;
    padding: 40px 40px;
    border-radius: 20px;
}

#div1 > span {
    color: red;
}

#div1 > h1 {
    font-size: 2.5rem;
}

#div1 > h1 > span {
    color: blue;
}

#div1 > a {
    text-decoration: none;
    color: white;
    background-color: rgb(250, 52, 52);
    padding: 10px 20px;
    border-radius: 20px;
}

#div1 > a:hover {
    background-color: rgba(0, 0, 255, 0.644);
}

#div2 {
    width: 150%;
    background-color: rgb(238, 233, 233);
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.389);
    position: relative;
    right: 50px;
    top: 60px;
    padding: 30px 3%;
    border-radius: 20px;
}

#div2 > p {
    color: red;
}

#div2 > h1 > span {
    color: blue;
}

#type-email {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 5px 20px 20px 5px;
}
 #type-email > input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
}

#type-email > a {
    text-decoration: none;
    font-size: 10px;
    color: white;
    background-color: rgb(251, 43, 43);
    padding: 15px;
    border-radius: 20px;
}

#type-email > a:hover {
    background-color: rgba(0, 0, 255, 0.775);
}


/* FOOTER */
footer {
    background-color: blue;
    height: 20vh;
    border-radius: 80px 80px 0px 0px;
}

footer > p {
    color: white;
    text-align: center;
    position: relative;
    top: 20px;
}