.cards {
    width: 100%;
    box-shadow: 0 0 10px grey;
    padding: 1rem;
    border-radius: 5px;
}

#skills > h3 {
    box-shadow: 0 0 5px grey;
    transition: 0.5s linear;
}

#skills > h3:hover {
    box-shadow: 0 0 5px rgb(255, 0, 0);
}

#knowmore {
    width: 100%;
    font-size: 0.7rem;
    padding: 0.5rem;
    background-color: rgb(0, 149, 0);
    cursor: pointer;
    color: white;
}

