body {
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#navbar {
    background-color: white;
    position: fixed;
}

/* MOBILE SCREEN */
@media (max-width:451px) {
    /* navbar */
    #navbar {
        width: 100%;
        z-index: 1;
        font-size: 1rem;
        position: fixed;
        box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.356);
    }
    #navbar > p {
        padding: 0.5rem;
        text-align: center;
        letter-spacing: 5px;
    }
    #navbar > p > span {
        font-weight: bolder;
    }
    #nav-links {
        display: none;
    }
    /* HOME-PAGE */
    #home {
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        place-items: center;
    }
    #home > img {
        width: 100%;
    }
    #home > p {
        position: absolute;
        color: white;
        font-size: 1rem;
    }
    #home > p > span {
        background-color: rgba(0, 0, 0, 0.775);
        padding: 5px;
    }
    /* PROJECTS */
    #projects {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        padding: 2rem;
    }
    #projects > #house {
        width: 100%;
        position: relative;
    }
    #house > img {
        width: 100%;
    }
    #house > p {
        color: white;
        background-color: black;
        padding: 5px 10px;
        position: absolute;
        top: 0;
        left: 0;
    }
    #projects > p {
        font-size: 1.5rem;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    /* ABOUT */
    #about {
        width: 100%;
        padding: 0px 2rem;
    }
    #about > #heads {
        width: 100%;
        display: grid;
        row-gap: 1rem;
    }
    #heads > span {
        font-size: 2rem;
    }
    #heads > p {
        font-size: 1rem;
        text-align: justify;
    }
    #about-images {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;
        margin-top: 3rem;
    }
    #about-images > #about-img {
        width: 100%;
    }
    #about-img > img {
        width: 100%;
    }
    #content {
        display: grid;
        row-gap: 1rem;
        padding: 10px 0px 0px 0px;
    }
    #content > h2 {
        font-weight: normal;
    }
    #content > span {
        color: grey;
    }
    #content > p {
        letter-spacing: 0.4px;
    }
    #content > a {
        text-decoration: none;
        color: black;
        background-color: rgba(160, 143, 143, 0.279);
        text-align: center;
        padding: 10px;
    }
    #content > a:hover {
        background-color: grey;
    }
    /* CONTACT */
    #contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding: 0px 2rem;
        margin-top: 3rem;
    }
    #form-content {
        display: grid;
        row-gap: 1rem;
    }
    #form-content > h1 {
        font-weight: lighter;
    }
    #contact > input {
        padding: 5px 5px;
    }
    #submit-btn > a {
        text-decoration: none;
        background-color: black;
        color: white;
        padding: 7px;
    }
    #submit-btn > a:hover {
        background-color: rgba(128, 128, 128, 0.564);
        color: black;
    }
    /* FOOTER */
    #end {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 2rem 2rem 15px 2rem;
    }
    #end > img {
        width: 100%;
    }
    #foot {
        width: 100%;
        display: flex;
        justify-content: center;
        column-gap: 10px;
        color: white;
        background-color: black;
        padding: 1rem;
    }
    #foot > a {
        color: white;
    }
    #foot > a:hover {
        color: blue;
    }
}

/* TABLETS SCREEN */
@media (min-width:452px) and (max-width:768px) {
    /* navbar */
    #navbar {
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        position: fixed;
        box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.233);
    }
    #navbar > p {
        padding: 0px 0px 0px 40px;
        letter-spacing: 5px;
    }
    #navbar > p > span {
        font-weight: bolder;
    }
    #nav-links {
        display: flex;
        column-gap: 10px;
        padding: 10px 20px;
    }
    #nav-links > a {
        text-decoration: none;
        color: black;
        padding: 10px 20px;
        letter-spacing: 2px;
    }
    #nav-links > a:hover {
        background-color: rgba(128, 128, 128, 0.133);
        border-radius: 3px;
    }
    /* HOME-PAGE */
    #home {
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        place-items: center;
    }
    #home > img {
        width: 100%;
    }
    #home > p {
        position: absolute;
        color: white;
        font-size: 2rem;
    }
    #home > p > span {
        background-color: rgba(0, 0, 0, 0.775);
        padding: 5px 10px;
    }
    /* PROJECTS */
    #projects {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        padding: 3rem;
    }
    #projects > #house {
        width: 100%;
        position: relative;
    }
    #house > img {
        width: 100%;
    }
    #house > p {
        color: white;
        background-color: black;
        padding: 5px 10px;
        position: absolute;
        top: 0;
        left: 0;
    }
    #projects > p {
        font-size: 1.5rem;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    /* ABOUT */
    #about {
        width: 100%;
        padding: 0px 3rem;
    }
    #about > #heads {
        width: 100%;
        display: grid;
        row-gap: 1.5rem;
    }
    #heads > span {
        font-size: 2rem;
    }
    #heads > p {
        font-size: 1.1rem;
        text-align: justify;
    }
    #about-images {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
        margin-top: 3rem;
    }
    #about-images > #about-img {
        width: 100%;
    }
    #about-img > img {
        width: 100%;
    }
    #content {
        display: grid;
        row-gap: 1rem;
        padding: 10px 0px 0px 0px;
    }
    #content > h2 {
        font-weight: normal;
    }
    #content > span {
        color: grey;
    }
    #content > p {
        letter-spacing: 0.4px;
    }
    #content > a {
        text-decoration: none;
        color: black;
        background-color: rgba(160, 143, 143, 0.279);
        text-align: center;
        padding: 10px;
    }
    #content > a:hover {
        background-color: grey;
    }
    /* CONTACT */
    #contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        padding: 0px 3rem;
        margin-top: 3rem;
    }
    #form-content {
        display: grid;
        row-gap: 1rem;
    }
    #form-content > h1 {
        font-weight: lighter;
    }
    #contact > input {
        padding: 15px 5px;
    }
    #submit-btn > a {
        text-decoration: none;
        background-color: black;
        color: white;
        padding: 10px;
    }
    #submit-btn > a:hover {
        background-color: rgba(128, 128, 128, 0.564);
        color: black;
    }
    /* FOOTER */
    #end {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 3rem 3rem 15px 3rem;
    }
    #end > img {
        width: 100%;
    }
    #foot {
        width: 100%;
        display: flex;
        justify-content: center;
        column-gap: 10px;
        color: white;
        background-color: black;
        padding: 2rem;
    }
    #foot > a {
        color: white;
    }
    #foot > a:hover {
        color: blue;
    }
}

/* LAPTOP SCREEN */
@media (min-width:769px) {
    /* navbar */
    #navbar {
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        position: fixed;
        box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.233);
    }
    #navbar > p {
        padding: 0px 0px 0px 40px;
        letter-spacing: 5px;
    }
    #navbar > p > span {
        font-weight: bolder;
    }
    #nav-links {
        display: flex;
        column-gap: 20px;
        padding: 10px 20px;
    }
    #nav-links > a {
        text-decoration: none;
        color: black;
        padding: 10px 20px;
        letter-spacing: 2px;
    }
    #nav-links > a:hover {
        background-color: rgba(128, 128, 128, 0.133);
        border-radius: 3px;
    }
    /* HOME-PAGE */
    #home {
        width: 100%;
        padding: 0px 40px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        place-items: center;
    }
    #home > img {
        width: 100%;
    }
    #home > p {
        position: absolute;
        color: white;
        font-size: 3rem;
    }
    #home > p > span {
        background-color: rgba(0, 0, 0, 0.775);
        padding: 10px 15px;
    }
    /* PROJECTS */
    #projects {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
        padding: 5rem;
    }
    #projects > #house {
        width: 100%;
        position: relative;
    }
    #house > img {
        width: 100%;
    }
    #house > p {
        color: white;
        background-color: black;
        padding: 5px 10px;
        position: absolute;
        top: 0;
        left: 0;
    }
    #projects > p {
        font-size: 1.5rem;
        grid-column-start: 1;
        grid-column-end: 5;
    }
    /* ABOUT */
    #about {
        width: 100%;
        /* height: 100vh; */
        padding: 0px 5rem;
    }
    #about > #heads {
        width: 100%;
        display: grid;
        row-gap: 1.5rem;
    }
    #heads > span {
        font-size: 2rem;
    }
    #heads > p {
        font-size: 1.1rem;
        letter-spacing: 0.5px;
    }
    #about-images {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 2rem;
        margin-top: 3rem;
    }
    #about-images > #about-img {
        width: 100%;
    }
    #about-img > img {
        width: 100%;
    }
    #content {
        display: grid;
        row-gap: 1rem;
        padding: 10px 0px 0px 0px;
    }
    #content > h2 {
        font-weight: normal;
    }
    #content > span {
        color: grey;
    }
    #content > p {
        letter-spacing: 0.4px;
    }
    #content > a {
        text-decoration: none;
        color: black;
        background-color: rgba(160, 143, 143, 0.279);
        text-align: center;
        padding: 10px;
    }
    #content > a:hover {
        background-color: grey;
    }
    /* CONTACT */
    #contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        padding: 0px 5rem;
        margin-top: 3rem;
    }
    #form-content {
        display: grid;
        row-gap: 1rem;
    }
    #form-content > h1 {
        font-weight: lighter;
    }
    #contact > input {
        padding: 15px 5px;
    }
    #submit-btn > a {
        text-decoration: none;
        background-color: black;
        color: white;
        padding: 10px;
    }
    #submit-btn > a:hover {
        background-color: rgba(128, 128, 128, 0.564);
        color: black;
    }
    /* FOOTER */
    #end {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 5rem 5rem 15px 5rem;
    }
    #end > img {
        width: 100%;
    }
    #foot {
        width: 100%;
        display: flex;
        justify-content: center;
        column-gap: 10px;
        color: white;
        background-color: black;
        padding: 2rem;
    }
    #foot > a {
        color: white;
    }
    #foot > a:hover {
        color: blue;
    }
}